@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
*{
    margin: 0;
    /* padding: 5px; */
    box-sizing: border-box;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    /* border: 1px solid #ccc; */
    padding: 20px;
    text-align: center;
    z-index: 5;
    border: 1px solid white;
} 

.general{
    /* width: 40vw;
    height: 55vh; */
    gap: 10px;
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    /* align-content: center; */
}

.informacion{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.informacion button{
    background-color: red;
    padding: 5px;
    width: 100%;
    border: none;
    border-radius: 5px;
    color: white;
}

.imgModal{
    width: 230px;
    object-fit: contain;
}

body{
    font-size: 1rem;
    background-color: #202020;
}

.menu{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    z-index: 5;
    background-color: #202020;
}

main{
    margin-top: 10vh;
}

.logos{
    margin-left: 20px;
}

.selectMarvel{
    cursor: pointer;
    height: 50px;
    width: 80px;
    transition: all ease 0.5s;
    margin-left: 10px;
}

.selectMarvel:hover{
    scale: 1.1;
}

.selectDc{
    cursor: pointer;
    height: 50px;
    width: 40px;
    transition: all ease 0.5s;
}

.selectDc:hover{
    scale: 1.1;
}

.buscador{
    margin-right: 20px;
    padding: 10px;
    border-radius: 10px;
}

.franquisia{
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    background-color: red;
}

.cards{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: auto;
    gap: 30px 30px;
    place-content: center;
    place-items: center;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.cardColorMarvel{
    border: 1px solid #fa0000;
    background-image: linear-gradient(to bottom left, #fa0000 11%, #000000 17%);

}

.cardColorDc{
    border: 1px solid #0496f1;
    background-image: linear-gradient(to bottom right, #0496f1 11%, #000000 17%);
}

.card{
    /* box-shadow: 0 0 5px 0 rgba(202, 200, 200, 0.5); */
    place-items: strenc;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    gap: 15px;
    transition: scale ease 0.8s;
    color: white;
}

.card:hover{
    /* background-color: #344955; */
    scale: 1.05;
    /* background-image: linear-gradient(to bottom left, #0496f1 14%, #000000 44%, #482828 100%); */
    /* background-image: linear-gradient(to bottom left, #ef1f1f 14%, #000000 44%, #1b1818 100%); */
    /* background-image: linear-gradient(to bottom left, #ef1f1f 14%, #000000 44%, #1b1818 100%); */
    /* box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5); */
}

.poster{
    object-fit: contain;
    width: 100%;
    text-align: center;
    min-height: 330px;
}

.nombre{
    font-size: 1.2rem;
}

.btn{
    width: 100%;
    border: none;
    background-color: #202020;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px 0;
}

.texto{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.decripcion, .fecha{
    font-size: 0.9rem;
    text-align: justify;
}
